fastapi
uvicorn[standard]
python-multipart
sentence-transformers
httpx
langchain
langchain-text-splitters
langchain-openai
langchain-ollama
langgraph
python-dotenv
unstructured[pdf]
motor
beanie
celery
redis
